{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="p-3 m-3">
    <div class="col-lg-5 rounded mx-auto border pt-4">
      <div class="text-center col">
        <hr>
      </div>
      <h3 class="alert alert-light rounded-pill text-dark"
        style="text-align:center">Login</h3>
      <hr>
      <form action="/login" method="POST">

        {% csrf_token %}

        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
        {% endif %}

        <div class="form-group">
          <label for>Username or Email</label>
          <input required type="text" name="username_email"
            value="{{values.username_email}}"
            class=" form-control-sm form-control">
        </div>

        <div class="form-group">
          <label for>Password</label>
          <input type="password"
            name="password"
            class="form-control form-control-sm">
        </div>

        <hr>

        <button type="submit" class="btn btn-sm col-lg-12 bg-warning text-dark">Login</button>

        <hr>
      </form>
    </div>
  </div>
</div>

{% endblock %}
